:root {
    --backgroundColor: #faf1e0;
    --lightColor: #a0d3fc;
    --primaryColor: #0081fa;
    --shadowColor: #1b0c0c;
    --textColor: #000000;
    /* 
    Christmas Colors
    --backgroundColor: #001f03;
    --lightColor: #abffa9;
    --primaryColor: #fc3636;
    */
}
